
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html class="contentindex">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Serves Admin Panel">

    
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/uirouter.js"></script>
    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>*@
    <script src="~/Scripts/app.js"></script>
    <base href="/">
    <style>

    </style>
</head>
<body ng-app="POS" ui-view id="contentindex">

</body>
</html>

